{{#section 'script'}}
  {{#if isMobile}}
    <script src='http://g.alicdn.com/dingding/dingtalk-jsapi/2.3.0/dingtalk.open.js'></script>
  {{else}}
    <script src='https://g.alicdn.com/dingding/dingtalk-pc-api/2.7.0/index.js'></script>
  {{/if}}
  <script src='/js/views/erp/mobileerp4.js'></script>
{{/section}}

{{#section 'head'}}
  <meta name="apple-mobile-web-app-title" content="移动海勃">
  <title>移动海勃</title>
{{/section}}

{{#section 'postScript'}}
  var isMobile = {{isMobileStr}};
  var theCorpId = "dingb3f0b56e674e39fd";
  var bPageLoaded = false;
  var dingdingKit = null;
  var isInDingTalk = false;
  var userid;
  var username;

  var pTimeStamp = "{{TimeStamp}}";
  var pNonceStr = "{{NonceStr}}";
  var pSignature = "{{Signature}}";
  var ticketErrInfo = "{{DingErrInfo}}";

$(document).ready(() => {
    if (isMobile) {
        dingdingKit = dd;
        isInDingTalk = dd.env.platform != 'notInDingTalk';
        var jsapiArr = [
            'runtime.info',
            'device.notification.prompt',
            'biz.chat.pickConversation',
            'device.notification.confirm',
            'device.notification.alert',
            'device.notification.prompt',
            'biz.navigation.back',
            'biz.chat.open',
            'biz.util.open',
            'biz.user.get',
            'biz.contact.choose',
            'biz.telephone.call',
            'biz.ding.post',
            'biz.navigation.setLeft',
            'biz.navigation.setRight',
            'biz.navigation.setTitle',];

        dd.config({
            agentId: "29816043",
            corpId: theCorpId,
            timeStamp: pTimeStamp,
            nonceStr: pNonceStr,
            signature: pSignature,
            jsApiList: jsapiArr
        });
    }
    else {
        dingdingKit = DingTalkPC;
        isInDingTalk = DingTalkPC.ua.isInDingTalk;
        DingTalkPC.config({
            agentId: "29816043",
            corpId: theCorpId,
            timeStamp: pTimeStamp,
            nonceStr: pNonceStr,
            signature: pSignature,
            jsApiList: [
                'device.notification.alert',
                'device.notification.confirm',
                'runtime.permission.requestAuthCode',
                'biz.contact.choose',
                'device.notification.prompt',
                'biz.ding.post']
        });
    }
    dingdingKit.userid = {{cacheUserid}};
    dingdingKit.username = "{{cacheUserName}}";
    if(!isInDingTalk){
      {{#if isProduction}}
      showModelTip('本页只能定在钉钉中使用');
      {{else}}
      userLogSuccess(dingdingKit.userid, dingdingKit.username);
      {{/if}}
    }
    else{
      if(dingdingKit.userid == -1)
      {
        dingdingKit.ready(dingdingIsReady);
        dingdingKit.error(function (error) {
          showModelTip(JSON.stringify(error));
        });
      }
      else{
        userLogSuccess(dingdingKit.userid, dingdingKit.username);
      }
    }
});

function dingdingIsReady(){
    tryLogin();
}

function tryLogin(){
  showModelTip('自动登录中');
    dingdingKit.runtime.permission.requestAuthCode({
        corpId: theCorpId,
        onSuccess: function (info) {
            dingdingInited(info.code);
        },
        onFail: function (err) {
          showModelTip(JSON.stringify(err));
        }
    });
}

function dingdingInited(userCode){
    nativeFetchJson(false,'/dingUtility', {'action':'login', 'code': userCode}).then(
        dataJson=>{
          if(dataJson.errCode == 0){
            dingdingKit.userid = dataJson.user.userid;
            dingdingKit.username = dataJson.user.username;
            userLogSuccess(dingdingKit.userid, dingdingKit.username);
          }
          else{
            showModelTip(JSON.stringify(dataJson));
          }
        }
    );
}

{{/section}}
